# WEB SCRAPING – ASSIGNMENT 4

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import requests
import re

# QUESTION:1

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
    
A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
# Connect with the webdriver & Maximize the window:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# Go Into URL:

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [5]:
# Find the search_Bar:

search_columns=driver.find_element_by_id("searchInput")
search_columns.send_keys("most viewed videos on YouTube")

In [6]:
# Click on search_button:

search_button=driver.find_element_by_id("searchButton")
search_button.click()

In [37]:
# Making Empty list:

Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

# Scrap the Rank of the Song from tabel:

for i in range(1,31):
    try:
        rank=driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[1]".format(i))
        Rank.append(rank.text)
    except NoSuchElementException:
        Rank.append("-")
        
# Scrap the Name of the Song from tabel:

for i in range(1,31):
    try:
        name=driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[2]/a".format(i))
        Name.append(name.text)
    except NoSuchElementException:
        Name.append("-")
        
        
# Scrap the Artist of the Song from tabel:

for i in range(1,31):
    try:
        artist=driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[3]/a".format(i))
        Artist.append(artist.text)
    except NoSuchElementException:
        Artist.append("-")
        
# Scrap the upload_date of the Song from tabel:

for i in range(1,31):
    try:
        date=driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[5]".format(i))
        Upload_date.append(date.text)
    except NoSuchElementException:
        Upload_date.append("-")
        
# Scrap the Views of the Song from tabel:        
for i in range(1,31):
    try:
        view=driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[4]".format(i))
        Views.append(view.text)
    except NoSuchElementException:
        Views.append("-")
        
        
# Mking the dataframe of scraped data:

print("Top 30 most-viewed YouTube videos")

DataFrame=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload_date":Upload_date,"Views":Views})
DataFrame

# Save the data into csv format:

DataFrame.to_csv("Top 30 most-viewed YouTube videos")

# Close the driver:

driver.close()

Top 30 most-viewed YouTube videos

,Rank,Name,Artist,Upload_date,Views
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.79
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.40
2,3.,Johny Johny Yes Papa,-,"October 8, 2016",5.46
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.35
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.14
5,6.,-,-,"January 31, 2012",4.44
6,7.,Uptown Funk,Mark Ronson,"November 19, 2014",4.20
7,8.,-,-,"February 27, 2018",4.15
8,9.,-,Cocomelon – Nursery Rhymes,"May 2, 2018",4.14
9,10.,Gangnam Style,Psy,"July 15, 2012",4.09
10,11.,-,ChuChu TV,"March 6, 2014",3.92
11,12.,Sugar,Maroon 5,"January 14, 2015",3.48
12,13.,Sorry,Justin Bieber,"October 22, 2015",3.44
13,14.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.39
14,15.,Roar,Katy Perry,"September 5, 2013",3.37
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.32
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.27
17,18.,Dark Horse,Katy Perry,"February 20, 2014",3.09
18,19.,Faded,Alan Walker,"December 3, 2015",3.08
19,20.,-,Cocomelon – Nursery Rhymes,"May 24, 2018",3.08
20,21.,Shake It Off,Taylor Swift,"August 18, 2014",3.07
21,22.,Lean On,Major Lazer,"March 22, 2015",3.05
22,23.,Girls Like You,Maroon 5,"May 31, 2018",3.05
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.04
24,25.,Let Her Go,Passenger,"July 25, 2012",3.01
25,26.,Mi Gente,J Balvin,"June 29, 2017",2.93
26,27.,Perfect,Ed Sheeran,"November 9, 2017",2.87
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.85
28,29.,Hello,Adele,"October 22, 2015",2.84
29,30.,Axel F,Crazy Frog,"June 16, 2009",2.83

# QUESTION:2

2.Scrape the details team India’s international fixtures from bcci.tv?
Url = https://www.bcci.tv/.
You need to find following details:
    
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [30]:
# Connect with the webdriver & Maximize the window:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# Go Into URL:

driver.get("https://www.bcci.tv/")

In [32]:
# Click on menu button:

menu_button=driver.find_element_by_xpath("//button[@class='navigation__header-button menu-button js-navigation-menu-button']")
menu_button.click()

In [33]:
# Click on international button:

button=driver.find_element_by_xpath("//div[@class='navigation__expand']")
button.click()

In [34]:
# Click on fixture_button:

fixture_button=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")
fixture_button.click()

In [35]:
# Creating empty list:

urls=[]
Match_Title=[]
Series=[]
Place=[]
Date=[]
Time=[]


# Scrap the url:

for i in driver.find_elements_by_xpath("//a[@class='js-match event-list-item fixture is-live t-test fixture--long event-list-item--long ']"):
    urls.append(i.get_attribute("href"))
for i in driver.find_elements_by_xpath("//a[@class='js-match event-list-item fixture  t-odi fixture--long event-list-item--long ']"):
    urls.append(i.get_attribute("href"))
for i in driver.find_elements_by_xpath("//a[@class='js-match event-list-item fixture  t-t20i fixture--long event-list-item--long ']"):
    urls.append(i.get_attribute("href"))
for i in driver.find_elements_by_xpath("//a[@class='js-match event-list-item fixture  t-test fixture--long event-list-item--long ']"):
    urls.append(i.get_attribute("href"))


# Scrap the match_title:

for i in urls:
    driver.get(i)
    try:
        match=driver.find_element_by_xpath("//span[@class='mc-header-info__match-description-match-type mc-theme-color']")
        Match_Title.append(match.text)
    except NoSuchElementException:
        Match_Title.append("-")
        

# Scrap the series:

for i in urls:
    driver.get(i)
    try:
        series=driver.find_element_by_xpath("/html/body/div[1]/div/div[2]/section[3]/div/ul/li[1]/span[2]")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append("-")
        
# scrap the place:

for i in urls:
    driver.get(i)
    try:
        place=driver.find_element_by_xpath("/html/body/div[1]/div/div[2]/section[3]/div/ul/li[3]/span[2]")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append("-")
        
# scrap the Date:

for i in urls:
    driver.get(i)
    try:
        date=driver.find_element_by_xpath("/html/body/div[1]/div/header/div/div[2]/div/div[4]/strong")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append("-")
        
# Scrap the time:

for i in urls:
    driver.get(i)
    try:
        time=driver.find_element_by_xpath("/html/body/div[1]/div/header/div/div[2]/div/div[4]/span[1]")
        Time.append(time.text)
    except NoSuchElementException:
        Time.append("-")
        
# Creating Dataframe:

DataFrame=pd.DataFrame({"Match_Title":Match_Title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
DataFrame

# Save the data:

DataFrame.to_csv("international fixtures")

# close the driver:

driver.close()

,Match_Title,Series,Place,Date,Time
0,FINAL,-,-,-,-
1,1ST ODI,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Tuesday 13 July,14:30 IST
2,2ND ODI,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Friday 16 July,14:30 IST
3,3RD ODI,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Sunday 18 July,14:30 IST
4,1ST T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Wednesday 21 July,19:00 IST
5,2ND T20I,Sri Lanka v India 2021,,Friday 23 July,19:00 IST
6,3RD T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Sunday 25 July,19:00 IST
7,1ST TEST,England v India 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
8,2ND TEST,England v India 2021,"Lord's, London",Thursday 12 August,15:30 IST
9,3RD TEST,England v India 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
10,4TH TEST,England v India 2021,"The Oval, London",Thursday 2 September,15:30 IST
11,5TH TEST,England v India 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

# QUESTION:3

3. Scrape the details of selenium exception from guru99.com?
Url = https://www.guru99.com/
You need to find following details:
    
A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [41]:
# Connect to webdriver and maximize the window:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# Goto the url:

driver.get("https://www.guru99.com/")

In [42]:
# click on selenium button:

selenium_button=driver.find_element_by_xpath("/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a")
selenium_button.click()

In [43]:
# close the advertisment:

close=driver.find_element_by_xpath("//div[@class='cb-close']")
close.click()

In [44]:
# close the another advertisement:

close_adt=driver.find_element_by_id("Layer_1")
close_adt.click()

In [45]:
# Scroll the page until you you are not reach at selenium_exception_handeling_topic:

selenium=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[2]")
driver.execute_script("arguments[0].scrollIntoView();",selenium)

In [46]:
# click on selenium_tutorial:

selenium_tutorial=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong")
selenium_tutorial.click()

In [56]:
# Create empty list:

Name=[]
Description=[]


# Scrap the name from the given tabel:

for i in range(2,43):
    try:
        name=driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[1]".format(i))
        Name.append(name.text)
    except NoSuchElementException:
        Name.append("-")

# Scrap the description from the tabel: 

for i in range(2,43):
    try:
        desc=driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[2]".format(i))
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append("-")
        
# creating DataFrame:
        
DataFrame=pd.DataFrame({"Name":Name,"Description":Description})
DataFrame


# Save the data into csv format:

DataFrame.to_csv("selenium exception handling")

# close the driver:

driver.close()

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# QUESTION:4

4. Scrape the details of State-wise GDP of India from statisticstime.com?
Url = http://statisticstimes.com/
You have to find following details:
    
A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
# connect to the driver and maximize the window:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# get the url:

driver.get("http://statisticstimes.com/")

In [7]:
# click on Economy:

Economy_button=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
Economy_button.click()

# Click on India:

india=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()

In [10]:
# click on GDP on indian state:

india_state=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
india_state.click()

In [20]:
#creating blank list: 

Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

# Scrap rank from the tabel:

for i in range(1,34):
    try:
        rank=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[{}]/td[1]".format(i))
        Rank.append(rank.text)
    except NoSuchElementException:
        Rank.append("-")
        
# Scrap State from the tabel:

for i in range(1,34):
    try:
        state=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[{}]/td[2]".format(i))
        State.append(state.text)
    except NoSuchElementException:
        State.append("-")
        
# Scrap GSDP at current price (19-20) from tabel:

for i in range(1,34):
    try:
        gsdp1=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[{}]/td[3]".format(i))
        GSDP1.append(gsdp1.text)
    except NoSuchElementException:
        GSDP1.append("-")

# Scrap GSDP at current price (18-19) from tabel:

for i in range(1,34):
    try:
        gsdp2=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[{}]/td[4]".format(i))
        GSDP2.append(gsdp2.text)
    except NoSuchElementException:
        GSDP2.append("-")

# Scrap Share(18-19) from tabel:        

for i in range(1,34):
    try:
        share=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[{}]/td[5]".format(i))
        Share.append(share.text)
    except NoSuchElementException:
        Share.append("-")
        
# Scrap GDP($ billion) from tabel:
        
for i in range(1,34):
    try:
        gdp=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[{}]/td[6]".format(i))
        GDP.append(gdp.text)
    except NoSuchElementException:
        GDP.append("-")
        
# creating dataframe:

DataFrame=pd.DataFrame({"Rank":Rank,"State":State,"GSDP at current price (19-20)":GSDP1,
                       "GSDP at current price (18-19)":GSDP2,"Share(18-19)":Share,"GDP($ billion)":GDP})
DataFrame


# Save the dataframe:

DataFrame.to_csv("State-wise GDP of India")

# Close the driver:

driver.close()

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# QUESTION:5

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [63]:
# connect to the driver and maximize the window:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# go into url:

driver.get("https://github.com/")

In [64]:
# click on menu button:

menu_button=driver.find_element_by_xpath("//button[@class='btn-link d-lg-none mt-1 js-details-target']")
menu_button.click()

In [65]:
# click on Enterprice button:

Enterprice_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
Enterprice_button.click()

In [66]:
# click on trending button:

try:
    Trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
    Trending.click()
except ElementNotInteractableException:
    print("No_Access")

In [67]:
# Creat empty list:

urls=[]
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

# Scrap the url:

for i in range(1,26):
    for j in driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[{}]/h1/a".format(i)):
        urls.append(j.get_attribute("href"))

# Scrap the Repository_title :         
        
for i in urls:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[1]/div[1]/div/h1")
        Repository_title.append(title.text.replace("\n",""))
    except NoSuchElementException:
        Repository_title.append("-")
        
# Scrap the Repository_description :
        
for i in urls:
    driver.get(i)
    try:
        about=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p")
        Repository_description.append(about.text)
    except NoSuchElementException:
        Repository_description.append("-")

# Scrap the Contributors_count :        

for i in urls:
    driver.get(i)
    try:
        count=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append("-")

# Scrap the Language_used :        
        
for i in urls:
    driver.get(i)
    try:
        langauge=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[6]/div/ul")
        Language_used.append(langauge.text.replace("\n",","))
    except NoSuchElementException:
        Language_used.append("-")
        

# Creating DataFrame:        
        
DataFrame=pd.DataFrame({"Repository title":Repository_title,"Repository description":Repository_description,
                        "Contributors count":Contributors_count,"Language used":Language_used})
DataFrame

# Saving the data: 

DataFrame.to_csv("trending repositories on Github")

# close the driver:

driver.close()

,Repository title,Repository description,Contributors count,Language used
0,programthink/zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,-,-
1,AkashSingh3031/The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,-,-
2,CaffeineMC/sodium-fabric,A Fabric mod designed to improve frame rates a...,-,-
3,n8n-io/n8n,Free and open fair-code licensed node based Wo...,174,"TypeScript,94.9%,Vue,4.9%,SCSS,0.1%,JavaScript..."
4,facebookresearch/AugLy,"A data augmentations library for audio, image,...",5,"Python,100.0%"
5,vxunderground/MalwareSourceCode,Collection of malware source code for a variet...,-,-
6,abuanwar072/Flutter-Responsive-Admin-Panel-or-...,Responsive Admin Panel or Dashboard using Flutter,-,-
7,EssayKillerBrain/EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,-,-
8,organicmaps/organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",-,-
9,rustdesk/rustdesk,Yet another remote desktop software,8,"Rust,95.4%,HTML,1.8%,CSS,1.7%,Other,1.1%"
10,algorithm-visualizer/algorithm-visualizer,🎆Interactive Online Platform that Visualizes A...,23,"JavaScript,83.9%,SCSS,13.0%,HTML,1.2%,Other,1.9%"
11,academic/awesome-datascience,📝 An awesome Data Science repository to learn ...,141,-
12,megaease/easegress,A Cloud Native traffic orchestration system,14,-
13,TheBobPony/getwindows11.tech,For the website,-,-
14,donnemartin/system-design-primer,Learn how to design large-scale systems. Prep ...,-,-
15,kwai/DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,-,"Python,98.8%,Shell,1.2%"
16,programthink/opensource,【编程随想】收藏的开源项目清单,3,-
17,facebookresearch/xcit,Official code Cross-Covariance Image Transform...,-,-
18,githubdev03/RDP,-,-,-
19,tailwindlabs/tailwindcss,A utility-first CSS framework for rapid UI dev...,177,"JavaScript,79.1%,CSS,16.1%,HTML,4.7%,Other,0.1%"
20,coqui-ai/TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,-,-
21,v2fly/v2ray-core,A platform for building proxies to bypass netw...,-,-
22,nothings/stb,stb single-file public domain libraries for C/C++,-,-
23,mltframework/shotcut,"cross-platform (Qt), open-source (GPLv3) video...",42,-
24,flutter/flutter,Flutter makes it easy and fast to build beauti...,-,-

# QUESTION:6

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [70]:
# connect to webdriver and maximize the page:

driver=webdriver.Chrome("Chromedriver.exe")
driver.maximize_window()

# go into url:

driver.get("https://www.billboard.com/")

In [71]:
# Click on menue button:

menu_button=driver.find_element_by_id("toggle-menu-action")
menu_button.click()

In [72]:
# click on charts button:

charts_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/a")
charts_button.click()

In [73]:
# click on hot_100 button:

hot_100=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/span/span/span/span[1]/ul/li[1]/a")
hot_100.click()

In [103]:
# Creating empty list:
    
Song_name=[]
Artist_name=[]
Last_week=[]
Peak_rank=[]
Weeks_board=[]

# Scrap song_name:

for i in range(1,110):
    try:
        name=driver.find_element_by_xpath("/html/body/main/div/div/div[7]/div/ol/li[{}]/button/span[2]/span[1]".format(i))
        Song_name.append(name.text)
    except NoSuchElementException:
        Song_name.append("-")

# Scrap Artist_name:        
        
for i in range(1,110):
    try:
        name=driver.find_element_by_xpath("/html/body/main/div/div/div[7]/div/ol/li[{}]/button/span[2]/span[2]".format(i))
        Artist_name.append(name.text)
    except NoSuchElementException:
        Artist_name.append("-")
        
# Scrap Last_week:
        
for i in range(1,110):
    try:
        week=driver.find_element_by_xpath("/html/body/main/div/div/div[7]/div/ol/li[{}]/button/div/div[1]".format(i))
        Last_week.append(week.text)
    except NoSuchElementException:
        Last_week.append("-")
        
# Scrap Peak_rank:
        
for i in range(1,110):
    try:
        rank=driver.find_element_by_xpath("/html/body/main/div/div/div[7]/div/ol/li[{}]/button/div/div[2]".format(i))
        Peak_rank.append(rank.text)
    except NoSuchElementException:
        Peak_rank.append("-")
        
# Scrap Weeks_board:
        
for i in range(1,110):
    try:
        board=driver.find_element_by_xpath("/html/body/main/div/div/div[7]/div/ol/li[{}]/button/div/div[3]".format(i))
        Weeks_board.append(board.text)
    except NoSuchElementException:
        Weeks_board.append("-")
        
# Creating dataframe:
        
DataFrame=pd.DataFrame({"Song name":Song_name,"Artist name":Artist_name,"Last week rank":Last_week,
                        "Peak rank":Peak_rank,"Weeks on board":Weeks_board})
DataFrame

# Saving the dataframe:

DataFrame.to_csv("100 songs on billboard")

# close driver:

DataFrame.close()

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,,2,1
2,Levitating,Dua Lipa Featuring DaBaby,,3,2
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
104,Things A Man Oughta Know,Lainey Wilson,,93,93
105,Country Again,Thomas Rhett,89,73,6
106,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
107,If You Want To,Lil Baby & Lil Durk,,-,99
108,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

# QUESTION:7

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
    
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code?

In [135]:
# connecting and maximize the url page:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# get into url:
driver.get(" https://www.naukri.com/")

In [136]:
# type Data Science into skill's bar:

skill=driver.find_element_by_id("qsb-keyword-sugg")
skill.send_keys("Data science")

In [137]:
# click on search_button:

search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [138]:
# creating empty list:

urls=[]
Designation=[]
Company=[]
key_skill=[]
Location=[]

# scraping url:

for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

# Scrap Designation:

for i in urls:
    driver.get(i)
    try:
        designation=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        Designation.append(designation.text)
    except NoSuchElementException:
        Designation.append("-")
        
# Scrap Company_Name:
        
for i in urls:
    driver.get(i)
    try:
        comp=driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        Company.append(comp.text)
    except NoSuchElementException:
        Company.append("-")
        
# Scrap key_skill:
        
for i in urls:
    driver.get(i)
    try:
        key=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[2]/div[4]/div[2]")
        key_skill.append(key.text)
    except NoSuchElementException:
        key_skill.append("-")

# Scrap Location:        

for i in urls:
    driver.get(i)
    try:
        loc=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span/a")
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append("-")
        
# Creating DataFrame:
        
DataFrame=pd.DataFrame({"Designation":Designation,"Company":Company,"Skills they hire for":key_skill,"Location":Location})
DataFrame


# Saving data:

DataFrame.to_csv("Data science recruiters from naukri")

# closing driver:

driver.close()

,Designation,Company,Skills they hire for,Location
0,data science analyst,CRED,Analytical skillsHealth insurancedata scienceD...,Bangalore/Bengaluru
1,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,BRIDGEi2i Analytics Solutions Private Limited,Business Analystdata scienceAnalyticalMachine ...,Bangalore/Bengaluru
2,Data Science Analyst,JPMorgan Services India Pvt. Ltd,Data ScienceRArtificial IntelligenceExplorator...,Mumbai
3,Data Science Content Developer,Data is Good,Data SciencePython DashExcelContent Developmen...,Bangalore/Bengaluru
4,-,-,-,-
5,Data Science- Associate Data Scientist,Jet2 Travel Technologies Pvt. Ltd.,Data Sciencepythonmachine learning,Pune
6,Data Science Intern (remote),Amploy.io,Data ScienceApplication ProgrammingSoftware De...,Bangalore/Bengaluru
7,-,-,-,-
8,Data Science Analyst,MJB Technology Solutions,Computer scienceBusiness administrationAnalyst...,Pune
9,-,-,-,-
10,Opening For Data Data Science Analyst & Data A...,Motilal Oswal Financial Services,Data ScienceMIS PreparationData AnalysisAdvanc...,Mumbai
11,Analyst -Data Science ( Supply Chain),Eaton Corporation,Power BiMachine LearningPython,Pune
12,Data Science & Analysis (Technology Management),Morgan Stanley Advantage Services,UnixData analysisLegal complianceWealth manage...,Mumbai
13,-,-,-,-
14,-,-,-,-
15,Web Development/Data Science Trainee,Musubi Management Private Limited,Data ScienceWeb Development,Bangalore/Bengaluru( 5th block Koramangala )
16,Senior Director Data Science - Bangalore,Optum Global Solutions (India) Private Limited,Data ScienceExploratory Data AnalysisArtificia...,Bangalore/Bengaluru
17,-,-,-,-
18,Data Science Analyst-Insurance Data Sciences,Xceedance,-,Gurgaon/Gurugram
19,Data Science Engineer,Reliance Jio Infocomm Ltd.,Data analysisStatistical modelingdata scienceM...,Mumbai

# QUESTION:8

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [139]:
# connecting to the webdriver:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# get into url:

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [148]:
# creating empty list:

Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scrap book_name:

for i in range(1,101):
    try:
        name=driver.find_element_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{}]/td[2]".format(i))
        Book_name.append(name.text)
    except NoSuchElementException:
        Book_name.append("-")
        
# Scrap Author_name:
        
for i in range(1,101):
    try:
        name=driver.find_element_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{}]/td[3]".format(i))
        Author_name.append(name.text)
    except NoSuchElementException:
        Author_name.append("-")
        
# Scrap Volumes_name:
        
for i in range(1,101):
    try:
        vol=driver.find_element_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{}]/td[4]".format(i))
        Volumes_sold.append(vol.text)
    except NoSuchElementException:
        Volumes_sold.append("-")
        
# Scrap publisher:
        
for i in range(1,101):
    try:
        pub=driver.find_element_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{}]/td[5]".format(i))
        Publisher.append(pub.text)
    except NoSuchElementException:
        Publisher.append("-")
        
# Scrap Genre:
        
for i in range(1,101):
    try:
        gen=driver.find_element_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{}]/td[6]".format(i))
        Genre.append(gen.text)
    except NoSuchElementException:
        Genre.append("-")
        
# creating dataframe:
        
DataFrame=pd.DataFrame({"Book name":Book_name,"Author name":Author_name,"Volumes sold":Volumes_sold,
                        "Publisher":Publisher,"Genre":Genre})
DataFrame

# save the dataframe:

DataFrame.to_csv("Highest selling novels")

# close the dataframe:

driver.close()

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# QUESTION:9

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [154]:
# connecting the webdriver and maximize the window:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

# get into url:

driver.get("https://www.imdb.com/list/ls095964455/")

In [162]:
# creating an empty list:

Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# Scrap Name:

for i in range(1,101):
    try:
        name=driver.find_element_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{}]/div[2]/h3/a".format(i))
        Name.append(name.text)
    except NoSuchElementException:
        Name.append("-")

# Scrap year_span:

for i in range(1,101):
    try:
        span=driver.find_element_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{}]/div[2]/h3/span[2]".format(i))
        Year_span.append(span.text)
    except NoSuchElementException:
        Year_span.append("-")

        
# Scrap Genera:

for i in range(1,101):
    try:
        gen=driver.find_element_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{}]/div[2]/p[1]/span[5]".format(i))
        Genre.append(gen.text)
    except NoSuchElementException:
        Genre.append("-")
        
# Scrap Run_time:
        
for i in range(1,101):
    try:
        time=driver.find_element_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{}]/div[2]/p[1]/span[3]".format(i))
        Run_time.append(time.text)
    except NoSuchElementException:
        Run_time.append("-")
        
# Scrap Rating:
        
for i in range(1,101):
    try:
        rate=driver.find_element_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{}]/div[2]/div[1]/div[1]/span[2]".format(i))
        Ratings.append(rate.text)
    except NoSuchElementException:
        Ratings.append("-")
        
# Scrap votes:

for i in range(1,101):
    try:
        vote=driver.find_element_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{}]/div[2]/p[4]/span[2]".format(i))
        Votes.append(vote.text)
    except NoSuchElementException:
        Votes.append("-")
        
# creating a dataframe:

DataFrame=pd.DataFrame({"Name":Name,"Year span":Year_span,"Genre":Genre,
                        "Run time":Run_time,"Ratings":Ratings,"Votes":Votes})
DataFrame

# Saving the data:

DataFrame.to_csv("tv series")

# closing the driver:

driver.close()

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,825,442"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"865,452"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"875,270"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,969"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,366"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,602"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,117"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"168,083"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,924"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,785"

# QUESTION:10

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [163]:
# Connecting and maximizing the web driver:

driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

#get into urls:

driver.get("https://archive.ics.uci.edu/")

In [164]:
# click all dataset:

dataset=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
dataset.click()

In [177]:
# Creating an empty list:

Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_instances=[]
No_attribute=[]
Year=[]

# Scrap dataset name:

for i in range(2,590):
    try:
        name=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[1]/table/tbody/tr/td[2]/p/b/a".format(i))
        Dataset_name.append(name.text)
    except NoSuchElementException:
        Dataset_name.append("-")

# Scrap data type:

for i in range(2,590):
    try:
        types=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(i))
        Data_type.append(types.text)
    except NoSuchElementException:
        Data_type.append("-")
        
# Scrap task:

for i in range(2,590):
    try:
        task=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[3]/p".format(i))
        Task.append(task.text)
    except NoSuchElementException:
        Task.append("-")
        
# Scrap attribute name:

for i in range(2,590):
    try:
        typ=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[4]/p".format(i))
        Attribute_type.append(typ.text)
    except NoSuchElementException:
        Attribute_type.append("-")
        
# Scrap no of instances:

for i in range(2,590):
    try:
        inst=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[5]/p".format(i))
        No_instances.append(inst.text)
    except NoSuchElementException:
        No_instances.append("-")
        
# Scrap no of attribute:

for i in range(2,590):
    try:
        attr=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[6]/p".format(i))
        No_attribute.append(attr.text)
    except NoSuchElementException:
        No_attribute.append("-")
        
# Scrap year:        
        
for i in range(2,590):
    try:
        year=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[7]/p".format(i))
        Year.append(year.text)
    except NoSuchElementException:
        Year.append("-")
        
# Creating a dataframe:
        
DataFrame=pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,
                        "No of instances":No_instances,"No of attribute":No_attribute,"Year":Year})
DataFrame

# saving the data:

DataFrame.to_csv("UCI machine learning repositories")

# closing driver:

driver.close()

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021